{% extends 'EB/base.html' %}

{% block title %}Survivor Cars{% endblock %}

{% block content %}
		  
<div class="container">
    <div class="row mt-5">
        <br/>
        <nav aria-label="breadcrumb">
	  		<ol class="breadcrumb">
	            <li class="breadcrumb-item"><a href="/">NCDB</a></li>
				<li class="breadcrumb-item"><a href="/Survivors">Survivors</a></li>
	            <li class="breadcrumb-item"><a href="/Survivors/V16">V16</a></li>
		        {% if year == '1930' or year == '1931' %}
                <li class="breadcrumb-item active" aria-current="page">Years 1930-1931</li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">Year {{ year }}</li>
                {% endif %}
	  		</ol>
	  	</nav>
    </div>
</div>

{% if messages %} 
<div class="container">
    <div class="row">
        <div class="col-12">
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="container">
	<div class="row">
		<div class="form-group col-sm-8 text-center">
			<div class="input-group mb-3">
				<a class="btn btn-primary text-decoration-none page-link" onclick="this.href='?page={{ cars.number }}&survivor=pk'" title="Previous survivor"><p class="pt-2">PS</p></a>
				<ul class="pagination pagination-centered">
				    <li class="page-item"><a class="page-link" title="First" href="?page=1"><<</a></li>
					{% if cars.has_previous %}
				    	<li class="page-item"><a class="page-link" title="Previous" href="?page={{ cars.previous_page_number }}"><</a></li>
				  	{% endif %}
					{% for pg in cars.paginator.page_range %}
						{% if pg <= maxpage and pg >= minpage and pg != cars.number %}
							{% if year == '1930' or year == '1931' %}
					      		<li class="page-item"><a class="page-link" title="Page {{pg}}" href="?page={{ pg }}">{{pg}}</a></li>
							{% elif year == '1935' %}
                                <li class="page-item"><a class="page-link" title="Car engine #{{pg|add:'100'}}" href="?page={{ pg }}">{{pg|add:"100"}}</a></li>
                            {% elif year == '1936' %}
                                <li class="page-item"><a class="page-link" title="Car engine #{{pg|add:'200'}}" href="?page={{ pg }}">{{pg|add:"200"}}</a></li>
                            {% elif year == '1937' %}
                                <li class="page-item"><a class="page-link" title="Car engine #{{pg|add:'300'}}" href="?page={{ pg }}">{{pg|add:"300"}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" title="Car engine #{{pg}}" href="?page={{ pg }}">{{pg}}</a></li>
                            {% endif %}
					   	{% elif pg == cars.number %}
							{% if year == '1930' or year == '1931' %}
					      		<li class="page-item"><a class="page-link" title="Page {{pg}}" href="?page={{ pg }}">{{pg}}</a></li>
							{% elif year == '1935' %}
                                <li class="page-item"><a class="page-link" title="Car engine #{{pg|add:'100'}}" href="?page={{ pg }}">{{pg|add:"100"}}</a></li>
                            {% elif year == '1936' %}
                                <li class="page-item"><a class="page-link" title="Car engine #{{pg|add:'200'}}" href="?page={{ pg }}">{{pg|add:"200"}}</a></li>
                            {% elif year == '1937' %}
                                <li class="page-item"><a class="page-link" title="Car engine #{{pg|add:'300'}}" href="?page={{ pg }}">{{pg|add:"300"}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" title="Car engine #{{pg}}" href="?page={{ pg }}">{{pg}}</a></li>
                            {% endif %}
					   	{% endif %}
					{% endfor %}
					{% if cars.has_next %}
					    <li class="page-item"><a class="page-link" title="Next" href="?page={{ cars.next_page_number }}">></a></li>
					{% endif %}
					<li class="page-item"><a class="page-link" title="Last" href="?page={{ endindex }}">>></a></li>
				</ul>
				<a class="btn btn-primary text-decoration-none page-link" onclick="this.href='?page={{ cars.number }}&survivor=nk'" title="Next survivor"><p class="pt-2">NS</p></a>
			</div>
		</div>
		<div class="form-group col-xs-4 col-sm-4">
			{% if year == '1930' or year == '1931' %}
                <div class="input-group mb-3">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Year</button>
                    <ul id="yeardropdown" class="dropdown-menu">
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1930/">1930</a></li>
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1931/">1931</a></li>
                    </ul>
                    <form method="get" action="/survivors-registry/Sixteens/year-{{ year }}/search/" class="d-flex flex-grow-1">
                        <input type="text" class="form-control" id="pg_field" name="engine" placeholder="Engine number #" />
                        <button type="submit" class="btn btn-primary btn-sm text-decoration-none">Go</button>
                    </form> 
                </div>
            {% else %}
                <div class="input-group mb-3">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Year</button>
                    <ul id="yeardropdown" class="dropdown-menu">
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1932/">1932</a></li>
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1933/">1933</a></li>
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1934/">1934</a></li>
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1935/">1935</a></li>
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1936/">1936</a></li>
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1937/">1937</a></li>
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1938/">1938</a></li>
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1939/">1939</a></li>
                        <li><a class="dropdown-item" href="/survivors-registry/Sixteens/year-1940/">1940</a></li>
                    </ul>
                    <form method="get" action="/survivors-registry/Sixteens/year-{{ year }}/search/" class="d-flex flex-grow-1">
                        <input type="text" class="form-control" id="pg_field" name="engine" placeholder="Engine number #" />
                        <button type="submit" class="btn btn-primary btn-sm text-decoration-none">Go</button>
                    </form>
                </div>
            {% endif %}
	    </div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<button class="btn btn-primary btn-sm" id="btnAlbumStatus" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="summaryView carCollapse" onclick="reloadAlbumFrame()">Timeline</button>
		</div>
	</div>
	<div id="summaryView" class="collapse multi-collapse show">
		<div class="container">
			{% for car in cars.object_list %}
			<div class="row">
				<div class="col-sm pt-2 pb-2">
					<h2>{{car.title | safe}}</h2>
					{% if year == '1930' or year == '1931' %}
                    <p class="text-muted"><small><i class="fa fa-info-circle"></i> 1930-1931 V16 records are displayed together as they share the same Series 452/452A platform.</small></p>
                    {% endif %}
          {% if '*</span>' in car.content %}
                    <p class="text-muted"><small><i class="fa fa-exclamation-triangle"></i> Engine numbers marked with <span style="color: red; font-style: italic;">*</span> are unknown and temporary engine numbers are assigned pending discovery of the actual number.</small></p>
                    {% endif %}          
				</div>
			</div>
			<div class = "row" >
				{% if car.jalbumlink|length != 0 %}
				<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12"  style="padding:0px">
					<div class="embed-container">
						<iframe src="{{car.jalbumlink}}" id="summaryjalbumlink" width="640" frameborder="0" allowfullscreen allowtransparency></iframe>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="description-container">
						<br>
						<div class="container">
							<div class="row">
								<div class="col-sm pt-2 pl-1">
									<p class="text-justify">As of {{ current_date }}, this is the information we have about this car:</p>
									<p class="text-justify">{{car.content | safe}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>						
		       	{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
	<div id="carCollapse" class="collapse multi-collapse">
		{% for folder in folders %}
		<div class="container" id="carCollapse">
			<div class="row">
				<div class="col-sm pt-2 pb-2">
					<h2>{{folder.0.title | safe}}</h2>
				</div>
				{% if showbuttonboolean %}
				<div class="col-sm pb-2 pt-2">
					<a class="btn btn-primary float-right" href="/contribute/contribute_form/V16/{{folder.0.caryear}}/{{folder.0.carnum}}/{{folder.0.carid}}/now" role="button">Add New</a>
				</div>
				{% endif %}
			</div>
			{% for post in folder.1 %}
			
			<button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">{{post.pretty_folder_name | safe}}</button>
			<div>
			<div class="row mb-3 collapse show" id="collapseOne-{{forloop.counter}}">
				{% if post.post.jalbumlink|length != 0 %}
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:0px">
						<div class="embed-container">
						  <iframe src="{{post.post.jalbumlink}}" id="jalbumlink" width="640" height="960" frameborder="0" allowfullscreen allowtransparency></iframe>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="description-container">
							<br>
							<div class="container">
								{% if showbuttonboolean %}
								<div class="row">
									<div class="col-sm pl-0">
										<a class="btn btn-primary float-right" href="/contribute/contribute_form/V16/{{folder.0.caryear}}/{{folder.0.carnum}}/{{folder.0.carid}}/{{post.post.folder_name}}" role="button">Update</a>
									</div>
								</div>
								{% endif %}
								<div class="row">
									<div class="col-sm pt-2 pl-1">
										<p class="text-justify">{{post.post.content | safe}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>
<script type='text/javascript'>
function reloadAlbumFrame() {
	var toggleButtonElement = document.getElementById('btnAlbumStatus');
	var buttonCurrentText = btnAlbumStatus.innerText;
	
	if (buttonCurrentText == "Timeline") {
		$("#btnAlbumStatus").html('Summary');
	}
	if (buttonCurrentText == "Summary") {
		$("#btnAlbumStatus").html('Timeline');
	}

	var iframes = document.getElementsByTagName('iframe');
	if (!iframes) return false;
	for(var i = 0; i < iframes.length; i++) {
		iframes[i].contentDocument.location.reload(true);
	}
}
</script>
{% endblock %}